@media only screen and(max-width: 375px) {
	header {
		justify-content: space-evenly;
	}

	header > a {
		width: 40%;
	}

	#modal {
		width: 90%;
	}

	#btn-container {
		width: 70%;
	}

	#select-title {
		width: 90vw;
	}

	.character-div {
		height: 125px;
		width: 40%;
	}

	aside {
		width: 80dvw;
		height: 7dvh;
	}
}
