:root {
	--primaryColor: #0155b7;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.hidden {
	display: none;
}
header {
	background-color: black;
	width: 100%;
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

header > a {
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#logo-container {
	object-fit: cover;
}

#logo-container > img {
	height: 100%;
	width: 100%;
	border-radius: 20px;
	box-shadow: 1px 1px 10px black;
}

button {
	background-color: gold;
	padding: 10px;
	border-radius: 20px;
	color: black;
	font-weight: bold;
	font-size: 1.1em;
	box-shadow: 1px 1px 5px black;
}

main {
	color: white;
	background-color: black;
	min-height: 90dvh;
	gap: 30px;
	max-height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 15px;
}

#main-menu {
	background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/64c9ea21-82be-48a3-a6f5-6d1786a3fc7e/d849dwo-0cdfe0ca-4bbe-43d5-b8d4-6c58db906e1e.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzY0YzllYTIxLTgyYmUtNDhhMy1hNmY1LTZkMTc4NmEzZmM3ZVwvZDg0OWR3by0wY2RmZTBjYS00YmJlLTQzZDUtYjhkNC02YzU4ZGI5MDZlMWUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.n3jDMgOwazieu5EgWAGyGW4kZSx12Xqbs3BMHPLp6o4");
	background-size: cover;
	background-position: center;
}
#select-menu {
	background-image: url("https://png.pngtree.com/background/20220715/original/pngtree-duel-cartoon-red-blue-vs-lightning-background-picture-image_1626084.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#fight-menu {
	background-image: url("https://cdn1.epicgames.com/ue/product/Screenshot/2a-1920x1080-07c9dfe6bf588f8db7dac536c295896a.png?resize=1&w=1920");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	gap: 0px;
}

#btn-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 70%;
}
h1 {
	color: black;
	text-align: center;
}
h3 {
	background-color: black;
	padding: 10px 20px;
	border-radius: 20px;
	color: white;
}

#btn-container > audio {
	width: 100%;
	box-shadow: 1px 1px 10px black;
	border-radius: 25px;
}
.menu-btn {
	width: 100%;
	background-color: gold;
	color: black;
	border: 1px solid black;
	box-shadow: 1px 1px 10px black;
}

#select-title {
	position: sticky;
	top: 5dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 10vh;
	height: fit-content;
	width: 90dvw;
	margin-top: 25px;
	color: black;
	font-weight: 900;
	background-color: white;
	padding: 20px 5px;
	border-radius: 20px;
	box-shadow: 1px 1px 10px black;
	border: 3px solid black;
	text-align: center;
	font-size: 0.8em;
}

#characterContainer {
	width: 100%;
	padding: 30px 0;
	min-height: 10vh;
	max-height: fit-content;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	gap: 30px;
}

.character-div {
	background-color: white;
	border: 3px solid black;
	height: 125px;
	width: 40%;
	object-fit: cover;
	border-radius: 20px;
	padding: 5px;
	box-shadow: 1px 1px 10px black;
}

.character-div > img {
	height: 100%;
	width: 100%;
}

#fighting-container {
	margin-bottom: 50px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 50%;
	gap: 50px;
}

.fighter-div {
	height: 200px;
	width: 200px;
	object-fit: cover;
}

.fighter-div > img {
	height: 100%;
	width: 100%;
}
aside {
	width: 80dvw;
	height: 7dvh;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

article {
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 0px;
}

progress {
	width: 100%;
	height: 20px;
	border-radius: 20px;
	transition: all 0.4s ease-in-out;
	border: 2px solid black;
	box-shadow: 1px 1px 10px black;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	overflow: hidden;
}

progress::-webkit-progress-bar {
	background-color: #2c2c2c;
	border-radius: 20px;
}

#player-health::-webkit-progress-value,
#enemy-health::-webkit-progress-value {
	background-color: rgb(0, 221, 0);
}

#player-magic::-webkit-progress-value,
#enemy-magic::-webkit-progress-value {
	background-color: rgb(0, 115, 255);
}

#player-health::-webkit-progress-bar,
#enemy-health::-webkit-progress-bar,
#player-magic::-webkit-progress-bar,
#enemy-magic::-webkit-progress-bar {
	background-color: rgb(100, 0, 0);
	border-radius: 20px;
}

#fight-commentary {
	font-size: 0.9em;
	text-align: center;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-weight: 900;
}

footer {
	min-height: 20vh;
	max-height: fit-content;
	font-size: 1em;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	color: white;
	text-align: center;
	padding: 25px 0;
	gap: 20px;
}

footer > p {
	color: gray;
	padding: 0 10px;
	text-align: center;
	font-size: 0.8em;
}

a {
	color: gold;
	font-weight: 900;
}
