* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.hidden {
	display: none;
}
header {
	background-color: black;
	width: 100%;
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	color: white;
}

button {
	background-color: gold;
	padding: 10px;
	border-radius: 20px;
	color: black;
	font-weight: bold;
	&:hover {
		scale: 125%;
		background-color: orange;
		color: black;
		cursor: pointer;
	}
}

main {
	color: white;
	background-color: black;
	min-height: 90vh;
	gap: 40px;
	max-height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 75px;
	background-image: url("https://png.pngtree.com/background/20220715/original/pngtree-duel-cartoon-red-blue-vs-lightning-background-picture-image_1626084.jpg");
	background-size: cover;
	background-position: center;
}

main > p {
	padding: 0 20px;
}

#characterContainer {
	width: 100%;
	padding: 40px 20px;
	min-height: 10vh;
	max-height: fit-content;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	gap: 50px;
}
.character-div {
	background-color: white;
	border: 3px solid black;
	height: 150px;
	width: 40%;
	object-fit: cover;
	border-radius: 20px;
	padding: 20px;
	&:hover {
		cursor: pointer;
		scale: 125%;
		background-color: gray;
		transition: 0.2s ease-in-out;
	}
	&.character-div > img {
		height: 100%;
		width: 100%;
	}
}

.fighting-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 20vh;
}
footer {
	min-height: 40vh;
	max-height: fit-content;
	font-size: 1em;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	color: white;
}
